*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
.container
{	width:85%;
	display:flex;
	margin:0 auto;
}
.content
{
	width:50%;
	margin-top:5%;
	
}
.content h1
{
	font-size:40px;
	line-height:100%;
}
.head1 h1
{
	color:rgb(47,47,65);
	font-weight:normal;
}
.head2 h1
{
	color:rgb(47,47,65);
}
.content>p
{
	margin-top:2%;
	font-size:25px;
	line-height:150%;
	color:rgb(125,125,125);
}
.list
{
	
	margin-top:7%;
	margin-bottom:7%;
	padding-left:4%;
}

.content ul li
{
	
	font-size:20px;
	color:rgb(125,125,125);
	line-height:200%;
}
.content ul li::marker
{
	color:green;
	

}
#sec::marker
{
	color:black;


}
.icon
{
	height:2%;
	width:2%;
	background-color:green;
	border-radius:50%;
	position:relative;
	bottom:2.5%;
	left:18%;
}
.content button
{
	padding:2%;
	border:1px solid green;
	border-radius:15%;
	font-size:18px;
}
.content img
{
	width:100%;
	height:auto;
}
